canvas{
  position:absolute;
  left:0px;
  top:0px;
}
#games{
  background: white;
}
.canvases{
  position: relative;
  width: 360px;
  height: 600px;
}
#background{
  // background: rgb(93, 93, 160);
  background: red;
  z-index: -1;
}
body{
  background: rgb(80, 80, 80);
}
.center{
  display: flex;
  align-content: center;
  justify-content: center;
}